<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- How often should updates be sent to the server? (In seconds) -->
    <!-- Note, updates will only be sent if things actually have changed in game. -->
    <add key="RefreshInterval" value="5"/>
    <!-- Username on the server -->
    <add key="Username" value=""/>
    <!-- Authentication key to use for updates. (Don't have one? Get one from http://isaacbuild.coq.dk) -->
    <add key="AuthenticationKey" value=""/>
    <!-- Server API endpoint. -->
    <add key="APIEndpoint" value="http://isaacbuild.coq.dk/api"/>
  </appSettings>
</configuration>