<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- These ones should be pretty obvious -->
    <add key="FormWidth" value="250"/>
    <add key="FormHeight" value="30"/>
    <add key="Font" value="Arial"/>
    <add key="FontSize" value="16"/>
    <add key="BackgroundColor" value="Magenta"/>
    <add key="TextColor" value="White"/>
    <!-- What text should be displayed before the seed? "Seed: XXXX YYYY" - The "Seed" part of that. -->
    <add key="SeedText" value="Seed"/>
    <!-- How often should it update the data from Isaac (in ms); default: 1000 -->
    <add key="UpdateInterval" value="1000"/>
    <!-- Should seed display blank out past Basement/Cellar 1? -->
    <add key="OnlyShowOnBasementOne" value="false"/>
  </appSettings>
</configuration>